table, th, td {
  border: 2px solid black;
  vertical-align: center;
  text-align: center;
  padding: 15px;
}
.mainsite-button
{
   color: #fff;
    background: red;
    padding: 3px 7px;
    font-weight: 500;
    font-size: 18px;
    border-radius: 4px;
    vertical-align: middle;
    text-align: center;
    
}


.telegram-follow-button {
    color: #fff;
    background: #1e97d7;
    padding: 3px 7px;
    font-weight: 500;
    font-size: 18px;
    border-radius: 4px;
    vertical-align: middle;
    text-align: center;
}
.linkedin-follow-button {
    color: #fff;
    background: #2867B2;
    padding: 3px 7px;
    font-weight: 500;
    font-size: 18px;
    border-radius: 4px;
    vertical-align: middle;
    text-align: center;
}
.github-follow-button {
    color: black;
    background: silver;
    padding: 3px 7px;
    font-weight: 500;
    font-size: 18px;
    border-radius: 4px;
    vertical-align: middle;
    text-align: center;
}
.revue-follow-button {
    color: #fff;
    background: #FFA500;
    padding: 3px 7px;
    font-weight: 500;
    font-size: 18px;
    border-radius: 4px;
    vertical-align: middle;
    text-align: center;
}
.telegram-follow-button:hover {
    background: #167ba5;
    color: #fff;
}
.telegram-follow-button img{
    width: 20px;
    vertical-align: middle;
}
.twitter-follow-button-2 {
    color: #fff;
    background: #1DA1F2;
    padding: 3px 7px;
    font-weight: 500;
    font-size: 18px;
    border-radius: 4px;
    vertical-align: middle;
    text-align: center;
  
}
